*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    min-height:100%;
}

body{
    font-family:
        Arial,
        Helvetica,
        sans-serif;

    background:var(--bg);

    color:var(--text);

    overflow-x:hidden;

    transition:var(--transition);

    -webkit-font-smoothing:antialiased;
}

a{
    text-decoration:none;
    color:inherit;
}

button,
input,
textarea,
select{
    font:inherit;
    outline:none;
    border:none;
}

img{
    max-width:100%;
    display:block;
}

ul{
    list-style:none;
}

table{
    border-collapse:collapse;
    width:100%;
}