/* =========================================================
   CREAR REUNION
========================================================= */

.reunion-form {

    animation: fadeIn .35s ease;
}

/* =========================================================
   GRID
========================================================= */

.form-grid {

    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(280px, 1fr));

    gap: 20px;
}

/* =========================================================
   ANIMATION
========================================================= */

@keyframes fadeIn {

    from {

        opacity: 0;

        transform: translateY(10px);
    }

    to {

        opacity: 1;

        transform: translateY(0);
    }

}