/* =====================================================
   EDITAR JOVEN
===================================================== */

.editar-header-icon{

    background:
        linear-gradient(
            135deg,
            #00e5ff,
            #00ffa3
        );
}


.form-readonly{

    opacity:.75;

    cursor:not-allowed;
}