
/* =====================================================
   DARK MODE
===================================================== */

html.dark{

    /* =====================================================
       BACKGROUNDS
    ===================================================== */

    --bg:#0b1120;

    --bg-body:#0b1120;

    --bg-main:#111827;

    --container:#182233;

    --surface:#111827;

    /* =====================================================
       TEXT
    ===================================================== */

    --text:#ffffff;

    --text-soft:#b4bfd1;

    --text-light:#7f8ca3;

    /* =====================================================
       PRIMARY
    ===================================================== */

    --primary:#00e5ff;

    --primary-2:#00ffa3;

    /* =====================================================
       GRADIENTS
    ===================================================== */

    --title-gradient:
        linear-gradient(
            90deg,
            #00e5ff,
            #00ffa3,
            #4facfe
        );

    --card-gradient:
        linear-gradient(
            135deg,
            #00e5ff,
            #00ffa3,
            #4facfe
        );

    --sidebar-gradient:
        linear-gradient(
            180deg,
            #00e5ff,
            #00ffa3,
            #4facfe
        );

    /* =====================================================
       BORDER
    ===================================================== */

    --border-color:
        rgba(255,255,255,.06);

    --border:
        1px solid var(--border-color);

    /* =====================================================
       SHADOWS
    ===================================================== */

    --shadow:
        0 14px 35px rgba(0,0,0,.45);

    --shadow-hover:
        0 20px 50px rgba(0,0,0,.6);
}