/* =========================================================
   CREATE USER
========================================================= */

.form-info{

    display:flex;

    gap:12px;

    align-items:flex-start;

    padding:14px 16px;

    margin-bottom:0 22px 18px;

    border-radius:16px;
}

/* =========================================================
   INFO BOX
========================================================= */

.form-info{

    display:inline-flex;

    align-items:center;

    gap:12px;

    width:fit-content;

    max-width:650px;

    margin:30px 0 40px 28px;

    padding:14px 18px;

    border-radius:16px;
}

.form-info i{

    color:#3b82f6;

    font-size:18px;
    margin-top:2px;
}
