/* =========================================================
   EDIT USER
========================================================= */

.form-info{

    display:flex;

    gap:12px;

    align-items:flex-start;

    padding:14px 16px;

    margin-bottom:0 22px 18px;

    border-radius:16px;
}
